<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sun Meidcal</title>
	<link rel="icon" type="image/x-icon" href="~/images/icon_Group.png" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/clinic_website.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link href="~/css/layout.css" rel="stylesheet" />
</head>
<body style="margin-bottom:0px;">
	<header>
		<div class="header-top">
			<div class="contact">
				<span><i class="fas fa-map-marker-alt"></i> Ha Noi, Viet Nam</span>
				<span><i class="fas fa-envelope"></i> <a href="mailto:support@carelink.com" style="text-decoration:none;color:#fff">support@carelink.com</a></span>
				<span><i class="fas fa-phone"></i> +62 864 644 2222</span>
				<div class="flags">
					<img src="https://flagcdn.com/vn.svg" alt="Vietnam Flag">
					<img src="https://flagcdn.com/jp.svg" alt="Japan Flag">
					<img src="https://flagcdn.com/tw.svg" alt="Taiwan Flag">
					<img src="https://flagcdn.com/gb.svg" alt="UK Flag">
				</div>
			</div>
		</div>
		<div class="header-main">
			<div class="logo">
				<img src="/images/Group.png" alt="SunMedical Logo">
				<div class="toggle-menu" id="toggleMenu">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<nav class="mobile-nav" id="mobileNav">
					<a href="#">Về SunMedical</a>
					<a href="#">Chuyên Khoa</a>
					<a href="#">Dịch Vụ Đặc Biệt</a>
					<a href="#">Bác Sĩ</a>
					<a href="#">Tin Tức</a>
					<a href="#">Liên Hệ</a>
					<a href="#">FAQ</a>
					<a href="#" class="register">Đăng Nhập</a>
				</nav>
			</div>
			
			<div class="nav" style="align-items:center">
				<a href="#">Về SunMedical</a>
				<a href="#">Chuyên Khoa</a>
				<a href="#">Dịch Vụ Đặc Biệt</a>
				<a href="#">Bác Sĩ</a>
				<a href="#">Tin Tức</a>
				<a href="#">Liên Hệ</a>
				<a href="#">FAQ</a>
				<a href="#" class="register">Đăng Nhập</a>
			</div>
		</div>
	</header>
	<div >
		<main role="main">
			@RenderBody()
		</main>
	</div>

	
	<footer class="footer" style="">
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="~/images/Group.png" alt="Sun Medical Center" height="50" />
				</div>
				<p class="footer-desc">
					Mang đến dịch vụ y tế chất lượng cao với đội ngũ bác sĩ chuyên môn giỏi, trang thiết bị hiện đại và quy trình chăm sóc tận tâm. Chúng tôi cam kết bảo vệ sức khỏe của bạn và gia đình, cung cấp giải pháp y tế toàn diện từ phòng ngừa đến điều trị, giúp bạn an tâm và khỏe mạnh mỗi ngày.
				</p>
				<div class="footer-socials">
					<a style="position: relative; width: 40px; height: 40px;">
						<img src="/images/icon_fb1.png" alt="Nền trắng" style="width: 100%; height: 100%;">
						<img src="/images/icon_fb1_1.png" alt="Facebook"
							 style="position: absolute; top: 80%; left: 50%;
              transform: translate(-50%, -50%);
              width: 40%; height: 40%; object-fit: contain;">
					</a>
					<a href="#"><img style="width: 40px; height: 40px" src="~/images/icon_twitter.png" alt="Twitter" /></a>
					<a href="#"><img style="width: 40px; height: 40px" src="~/images/icon_linked.png" alt="LinkedIn" /></a>
				</div>
			</div>

			<div class="footer-cols">
				<div class="footer-col">
					<h4>Company</h4>
					<ul>
						<li>Về chúng tôi</li>
						<li>Dịch vụ</li>
						<li>Đặt lịch</li>
						<li>Tìm bác sĩ</li>
						<li>Điều khoản</li>
					</ul>
				</div>

				<div class="footer-col">
					<h4>Support</h4>
					<ul>
						<li>Trung tâm hỗ trợ</li>
						<li>Dịch vụ 24/7</li>
						<li>Chat với chúng tôi</li>
					</ul>
				</div>

				<div class="footer-col">
					<h4>Contact</h4>
					<ul>
						<li>+1826535375535</li>
						<li>+1843228662422</li>
						<li>call@sunmedical.com</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<p>Copyright ©2025 <strong>SunMedical</strong></p>
			<p>Design by <strong>Le Vu Media</strong></p>
		</div>
	</footer>
	<script src="~/scripts/layout/layout.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
